.App {
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
  height: 100%;
}

header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main{
  margin-top: 5.5rem;
}
