.tasks-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    width: 90%;
    justify-content: center;


}

.tasks-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*margin: 16px;*/
    justify-content: center;
}

.task-card {
    border: 1px solid var(--color-border-glass);
    border-radius: 8px;
    padding: 16px;
    background-color: var(--color-bg-glass);
    min-width: 20rem;
}

#create-task-card {
    /*width: 90%;*/
    /*display: flex;*/
    flex-direction: column;
    border: 2px dashed var(--color-border-glass);
    align-items: center;
    cursor: pointer;
    padding: 1rem;
    text-align: center;

}

#create-task-card textarea {
    width: 100%;
    background-color: var(--color-bg-glass);
    color: white;
    border: 1px solid var(--color-accent);
    text-align: center;
}

.task-card select {
    width: 100%;
    background-color: var(--color-bg-glass);
    color: white;
    border: 1px solid var(--color-accent);
}

.task-card input {
    width: 100%;
    background-color: var(--color-bg-glass);
    color: white;
    border: 1px solid var(--color-accent);
}

#new-task-title {
    margin-bottom: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#new-task-due{
    margin-bottom: 16px;
}

#new-task-description{
    margin: 16px 0;
}

